header {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
header nav {
  height: 70px;
  display: flex;
  padding: 0 15px;
}
header nav a {
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
}
header nav a {
  font-size: 2rem;
  color: black;
  font-weight: 900;
}
header nav a:hover {
  color: #fff;
}
header nav a span {
  font-size: 3rem;
  color: #80558c
}

header #nav-profile {
  position: absolute;
  min-width: 40px;
  min-height: 40px;
  width: auto;
  height: auto;
  right: 20px;
  top: 13px;
  margin-left: 20px;
  background-color: #000;
  border: 0.15rem solid #80558c;
  border-radius: 15px;
  transition-duration: 500ms;
}
#setings {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: inline;
  top: -9px;
  right: -57px;
  position: absolute;
  color: #80558c;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 1s;
}
.dropdown-child {
  display: none;
  min-width: 20px;
  margin-top: 40px;
}
.dropdown-child a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  display: block;
  margin: 10px;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.dropdown-child:hover{
  display: block;
}
.dropdown:hover #setings {
  display: none;
}
.body{
  background-color: black;
}
.div1{
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div11{
  text-align: center;
  
  position: absolute;


}
.div111{
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  align-content: center;

}
.saat_Obj{
  width: 170px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  margin: 1%;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 100px;
}
#tarih{
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  color: #80558c;
}
#HataEkran{
  display: none;
}